/* Colors */
:root {
  --custom-blue: #9bb2d3;
  --custom-green: #799c72;
  --custom-red: #b95a5a;
  --custom-off-white: #d8d8d8;
  --custom-dark-white: #a29a99;
  --custom-medium-gray: #606060;
}

.App {
  max-width: 500px; /* Width of the box */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Padding between border and UI elements */
  border-style: dashed;
  border-color: var(--custom-medium-gray);
}

header {
  color: var(--custom-blue);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: large;
}

/* Todo List */
.todo-item {
  display: flex; /* Display todo elements side-by-side */
  justify-content: center;
  padding: 5px; /* Spacing between each todo item (only care about the vertical spacing) */
}

.todo-text {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--custom-off-white);
  margin-right: 10px; /* Spacing between todo text and buttons */
}

.todo-completed {
  text-decoration: line-through;
}

/* Input Text Boxes */
input {
  width: 250px;
  background-color: var(--custom-medium-gray);
  color: var(--custom-off-white);
  font-family: 'Courier New', Courier, monospace;
  margin-right: 10px; /* Spacing between input box and buttons */
}

input::placeholder {
  color: var(--custom-dark-white);
}

/* Button Icons */
.button {
}

.add-icon {
  color: var(--custom-green);
}

.delete-icon {
  color: var(--custom-red);
}

.save-icon {
  color: var(--custom-green);
}

.done-icon {
  color: var(--custom-green);
}
